body 
{
    padding-top: 5rem;
    background-color: #e0f2fb;
}
.pro_pic
{
    width:90px;
    height:90px;
}

.blk
{
    display: block;
}

.pro-data
{
    max-width: 30%;
}

.view-btn
{
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 7px;
    color: white;
}

.profile
{
    margin-left: 15px;
    width: 45%;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
    margin-bottom: 1%;
    box-shadow: 0px 2px 8px grey;
}

.profiles-container
{
    width: 50%;
    height: 30%;
}

.view-profile a
{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.form-container
{
    margin: 0 auto;
    padding: 5px;
    width: 45%;
    background-color: white;
}

.border-style
{
    border-radius: 3px;
    border-top: 3px #007bff solid;
}

.title
{
    margin: 0 auto;
    width: 45%;
    margin-bottom: 1%;
    font-weight: bold;
}