
body 
{
    padding-top: 5rem;
    background-color: #e0f2fb;
    padding-right: 25%;
    padding-left: 25%;
    
}

.layout
{
    padding-top: 30px;
    padding-bottom:30px;
    background-color: white;
    border-radius: 5px;
    border-top-color: #0080ff;
    box-shadow: 0px 2px 8px grey;
}

form
{
    padding-left: 10%;
}

.form_title
{
    width: 45%;
    margin-bottom: 1%;
    font-weight: bold;
    padding-bottom: 20px;
    
}

.custom-file-upload 
{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
    text-align: center;
}

input[type="file"] 
{
    display: none;
}

.photo
{
    padding-left: 15px;
}

.label_bold
{
  font-weight: bold;   
}