{% extends "base.html" %}

{% block css %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_profile.css') }}" type="text/css" />

{% endblock %}

{% block main %}

<h1 class="form_title"><strong>Add Profile</strong></h1>
{% include "flash_messages.html" %}
<div class = "layout border-style">
    <form class="" action="{{ url_for('profile') }}" method="POST" enctype="multipart/form-data">
      
      {{ form.csrf_token }}
      
      <div class="row">
          <div class="col-md-9">
              <div class="form-group">
                  <div class="form-group">
                    {{ form.FirstName.label(class="label_bold")}}
                    {{ form.FirstName(class='form-control') }}
                  </div>
              </div>
          </div>
      </div>
        
      <div class="row">
          <div class="col-md-9">
              <div class="form-group">
                <div class="form-group">
                   {{ form.LastName.label(class="label_bold")}}
                   {{ form.LastName(class='form-control') }}
                </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-9">
              <div class="form-group">
                  {{form.gender.label(class="label_bold")}}
                  {{form.gender(class="form-control",id="form_Email")}}
              </div>
          </div>
      </div>
      <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                  {{form.Email.label(class="label_bold")}}
                  {{form.Email(placeholder="eg. example@example.com", class="form-control",id="form_Email")}}
                </div>
            </div>
       </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        {{form.Location.label(class="label_bold")}}
                        {{form.Location(placeholder="eg. Kingston, Jamaica",class="form-control",id="form_Location")}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="form-group">
                        {{form.Biography.label(class="label_bold")}}
                        {{form.Biography(class="form-control",id="form_Biography")}}
                    </div>
                </div>
            </div>
            <p class="label_bold">Profile Picture</p>
            <div class="row photo">
                <label for="photo" type="file" class="custom-file-upload label_bold">Browse...</label>
                    {{form.photo}}
            </div>
      <button type="submit" name="submit" class="btn btn-success">Add Profile</button>
    </form>
</div>
{%endblock%}